.song {
  position: relative;
  display: block;

  border-radius: 8px;
  /* margin-top: 20px; */
  background-color: #141414;
  height: 240px;
  width: 100%;
  transition: 0s, 0.5s;
}

.song:hover {
  transform: scale(1.05);
  background-color: #424242;
}

.song a {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  /* text-decoration: none; */
  height: 100%;
  width: 100%;
}

.song span {
  /* position: absolute; */
  display: inline-block;
  padding-top: 10px;
  height: 15%;
  font-size: 16px;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-family: "Gemunu Libre ExtraBold";
  color: #f0f0f0;
}

.song img {
  /* position: absolute; */
  /* width: 90%; */
  /* padding-top: 20px; */
  border-radius: 10px;
  height: 170px;
}
