body {
  background-color: #c0c0c0;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Gemunu Libre ExtraBold";
  src: url("./fonts/gemunu-libre.extrabold.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
